.wrapper

  .header
    .header-title
      HomeWork App
    .header-items
      .header-items__registar
        新規登録
      .header-items__login
        ログイン


  .contents
    .content
      .content__main
        .content__main__text
          こんにちは
        .content__main__detail
          .content__main__detail__name
            たかし
          .content__main__detail__date
            2020/02/08
      .content__main
        .content__main__text
          こんにちは
        .content__main__detail
          .content__main__detail__name
            たかし
          .content__main__detail__date
            2020/02/08
      .content__main
        .content__main__text
          こんにちは
        .content__main__detail
          .content__main__detail__name
            たかし
          .content__main__detail__date
            2020/02/08
      .content__main
        .content__main__text
          こんにちは
        .content__main__detail
          .content__main__detail__name
            たかし
          .content__main__detail__date
            2020/02/08
      .content__main
        .content__main__text
          こんにちは
        .content__main__detail
          .content__main__detail__name
            たかし
          .content__main__detail__date
            2020/02/08
      .content__main
        .content__main__text
          こんにちは
        .content__main__detail
          .content__main__detail__name
            たかし
          .content__main__detail__date
            2020/02/08
      

  .form
    .input_form
      %textarea{class: "input-form__text", placeholder: "type a message"}
      %input{type: "submit", class: "submit-btn", value: "投稿する"}


  .footer
    Homework App 2020